<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saad102.shongbidhan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShoptodoshShongshodhoni"></activity>
        <activity android:name=".ShoroshShongshodhoni" />
        <activity android:name=".PonchodoshShongshodhoni" />
        <activity android:name=".ChoturdoshShongshodhoni" />
        <activity android:name=".TroyodoshShongshodhoni" />
        <activity android:name=".DadoshShongshodhoni" />
        <activity android:name=".DoshomShongshodhoni" />
        <activity android:name=".EkadoshShongshodhoni" />
        <activity android:name=".NobomShongshodhoni" />
        <activity android:name=".OshtomShongshodhoni" />
        <activity android:name=".ShoptomShongshodhoni" />
        <activity android:name=".ShoshthoShongshodhoni" />
        <activity android:name=".PonchomShongshodhoni" />
        <activity android:name=".ChoturthoShongshodhoni" />
        <activity android:name=".TritiyoShongshodhoni" />
        <activity android:name=".DitiyoShongshodhoni" />
        <activity android:name=".ProthomShongshodhoni" />
        <activity android:name=".Shongshodhoni" />
        <activity android:name=".SoptomTofsil" />
        <activity android:name=".ShoshthoTofsil" />
        <activity android:name=".PonchomTofsil" />
        <activity android:name=".ChoturthoTofsil" />
        <activity android:name=".TritiyoTofsil" />
        <activity android:name=".DitiyoTofsil" />
        <activity android:name=".ProthomTofsil" />
        <activity
            android:name=".EkadoshVag"
            android:label="একাদশ ভাগ - বিবিধ" />
        <activity
            android:name=".DoshomVag"
            android:label="দশম ভাগ - সংবিধান-সংশোধন" />
        <activity
            android:name=".NobomKoVag"
            android:label="নবম-ক ভাগ - জরুরী বিধানাবলী" />
        <activity
            android:name=".NobomVag"
            android:label="নবম ভাগ - বাংলাদেশের কর্মবিভাগ" />
        <activity
            android:name=".OshtomVag"
            android:label="অষ্টম ভাগ - মহা হিসাব-নিরীক্ষক ও নিয়ন্ত্রক" />
        <activity
            android:name=".ShoptomVag"
            android:label="সপ্তম ভাগ - নির্বাচন" />
        <activity
            android:name=".ShoshthoVag"
            android:label="ষষ্ঠ ভাগ - বিচারবিভাগ" />
        <activity
            android:name=".PonchomVag"
            android:label="পঞ্চম ভাগ - আইনসভা" />
        <activity
            android:name=".ChoturthoVag"
            android:label="চতুর্থ ভাগ - নির্বাহী বিভাগ" />
        <activity
            android:name=".TritioVag"
            android:label="তৃতীয় ভাগ - মৌলিক অধিকার" />
        <activity
            android:name=".DitiyoVag"
            android:label="দ্বিতীয় ভাগ - রাষ্ট্র পরিচালনার মূলনীতি" />
        <activity
            android:name=".ProthomVag"
            android:label="প্রথম ভাগ - প্রজাতন্ত্র" />
        <activity
            android:name=".Prostabona"
            android:label="প্রস্তাবনা" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider763153537548127"
            android:exported="true" />
    </application>

</manifest>