<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saad102.shongbidhan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NobomVag"></activity>
        <activity android:name=".OshtomVag" />
        <activity android:name=".ShoptomVag" />
        <activity android:name=".ShoshthoVag" />
        <activity android:name=".PonchomVag" />
        <activity android:name=".ChoturthoVag" />
        <activity android:name=".TritioVag" />
        <activity android:name=".DitiyoVag" />
        <activity android:name=".ProthomVag" />
        <activity android:name=".Prostabona" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>